# SPDX-License-Identifier: GPL-2.0
#
# Sunplus Geometric Distortion Correction driver configuration
#

config VIDEO_SUNPLUS_GDC
	bool "Sunplus Geometric Distortion Correction Driver"
	depends on V4L_MEM2MEM_DRIVERS
	depends on VIDEO_DEV
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	default y
	help
	  Support for the Sunplus Geometric Distortion Correction driver

config VIDEO_SUNPLUS_GDC_SP7350
	bool "Geometric Distortion Correction Driver for SP7350"
	depends on VIDEO_SUNPLUS_GDC
	default y
	help
	  Support for the Sunplus SP7350 Geometric Distortion Correction driver