# SPDX-License-Identifier: GPL-2.0
#
# Sunplus ISP driver configuration
#

config VIDEO_SUNPLUS_SP7350_ISP
	tristate "Sunplus SP7350 ISP Driver"
	depends on VIDEO_V4L2 && OF
	depends on SOC_SP7350
	select MEDIA_CONTROLLER
	select VIDEO_V4L2_SUBDEV_API
	select RESET_CONTROLLER
	select V4L2_FWNODE
	select V4L2_MEM2MEM_DEV
	help
	  Support for Sunplus ISP.
	  Supports SP7350 SoC.

	  To compile this driver as a module, choose M here: the
	  module will be called isp.

if 0

config VIDEO_SUNPLUS_SP7350_ISP_3DNR
	tristate "Sunplus SP7350 ISP 3DNR Driver"
	depends on VIDEO_V4L2 && OF
	depends on SOC_SP7350
	select MEDIA_CONTROLLER
	select VIDEO_V4L2_SUBDEV_API
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_FWNODE
	select V4L2_MEM2MEM_DEV
	help
	  Support for Sunplus ISP 3DNR.
	  Supports SP7350 SoC.

	  To compile this driver as a module, choose M here: the
	  module will be called isp_3dnr.

endif
