# SPDX-License-Identifier: GPL-2.0

config VIDEO_SP7350_DISP
	tristate "Sunplus SP7350 Display Driver"
	depends on VIDEO_DEV && V4L_PLATFORM_DRIVERS && SOC_SP7350
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_VMALLOC
	# select FB_SP7350
	default n
	help
	  Support for the Sunplus SP7350 display driver.

config VIDEO_SP7350_DISP_DEBUG
	bool "External Debug Support"
	depends on VIDEO_SP7350_DISP
	help
	  Say Y here, if you want to have debug support.
	  Debug function is reserved for display further check.
	  echo "dump all" > /sys/module/display_sp7350/parameter/debug
	  can show more detailed information for display driver.

config VIDEO_SP7350_DISP_PI_PANEL
	bool "Built-in Raspberry Pi 7-inch Touch-screen I2C Controller"
	depends on VIDEO_SP7350_DISP
	default n
	help
	  Say Y here, if you want to use Raspberry Pi 7-inch touch-screen
	  800x480 DSI panel.
	  Note that this I2C controller only supports DSI function.
	  It does not include touch-screen function.

config VIDEO_SP7350_DISP_LT8912B
	bool "Built-in LT8912B DSI-to-HDMI Bridge (I2C) Controller"
	depends on VIDEO_SP7350_DISP
	default n
	help
	  Say Y here, if you want to use Lontium LT8912B DSI-to-HDMI bridge.
